* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

body {
    background-color: #ffdf81;
}

h1,
h2 {
    font-family: "merriweather";
}

.date {
    font-family: "merriweather";
    font-size: 0.75rem;
}

p {
    font-family: "roboto";
}

.main {
    min-height: 80vh;
}

header {
    min-height: 10vh;
    font-family: "merriweather";
}

footer {
    min-height: 10vh;
    font-family: "merriweather";
}

@media (max-width: 991px) {
    .main {
        min-height: 65vh;
    }

    header {
        min-height: 25vh;
    }

    footer {
        min-height: 10vh;
    }
}

@media (max-width: 540px) {
    .main {
        min-height: 55vh;
    }

    header {
        min-height: 30vh;
    }

    footer {
        min-height: 15vh;
    }
}

/* @media (max-width: 460px) {
    .main {
        min-height: 65vh;
    }

    header {
        min-height: 25vh;
    }

    footer {
        min-height: 10vh;
    }
} */